NEXT_PUBLIC_SUPABASE_URL=https://nudgzfoftmmkaipcvhre.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im51ZGd6Zm9mdG1ta2FpcGN2aHJlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg5NzU2NzAsImV4cCI6MjEwNDU1MTY3MH0.HGX6rJyWVFLEt3gpP5NHI8tBa_oyqipgThYFb4gFIlc
NEXT_PUBLIC_SITE_URL=https://cassavaforge.com
ADMIN_EMAILS=admin@example.com
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
